
.icard{
  position: absolute;
  padding: 10px;
  height: 200px;
  width: 150px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  top: 0;
  left: 0;
}

.cardtop {
  font-size: 2em;
  height: 40px;
  line-height: 0.7em;
}
.cardmid {
  text-align: center;
  font-size: 6.5em;
  height: 110px;
}
.cardbottom {
  font-size: 2em;
  height: 50px;
  line-height: 0.7em;
  transform: rotate(-180deg); /*to flip it for bottom of card*/
}

.hearts .suit::after{ content: '\2665';}
.spades .suit::after{ content: '\2660';}
.clubs .suit::after{ content: '\2663';}
.diams .suit::after{ content: '\2666';}


.spades, .clubs{color: black;}
.hearts, .diams{color: red;}

.hand {
  position: relative;
}
.players{
  float: left;
  width: 49%;
  min-height: 300px;
  border: 1px solid lightgrey;
}
.score{
  font-size: 1.5em;
}
#message{
  font-size: 1.6em;
  /*make it centered?  */
  text-align: center;
  color: white;
  background-color:red;
  padding: 10px;
}
.btn{
  border-radius: 5px;
  padding: 9px 20px;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
}
#btnBattle{
  background-color: red;
}
#btnBattle10{
  background-color:red;
}
.p1{
  color:rgb(226, 37, 12)
}

.p2{
  color:rgb(226, 37, 12)
  
}
#board{
  background-color:rgb(20, 102, 34);

  
}
body{
  background-image: url("war.png");

}


